backend/db/
backend/uploads/
backend/embeddings/
chroma.log
env/
.vscode/
poetry.lock
backend/utils/__pycache__
backend/utils/chat/__pycache__
backend/utils/extractor/__pycache__
backend/utils/vector_store/__pycache__
embeddings/